article {
    display: flex;
}
article section.fotopertama h6 img {
    width: 290px;
    height: 250px;
}
article section.profil {
    margin: 0 0 0 19px;
}
article section.kanan {
    margin-left: auto;
    text-align: end;
}
article section.video video {
    width: 390px;
    height: 330px;
}
article section.potopoto img {
    width: 140px;
}
article section.potopoto {
    margin-left: 20px;
    border: 1px solid black;
}
article section.potopoto div {
    padding: 20px 20px 0 20px;
}
article section div {
    display: flex;
}
article fieldset div.link {
    display: inline-block;
    width: 100px;
}
